<h3><%= article.title %></h3>
<p><%= image_tag article.image.url(:thumb) %></p>
<p><%= article.content %></p>

<p><%= link_to article.user.email, user_articles_path(user_id: article.user.id) %> |
<%= link_to article.category.name, category_articles_path(category_id: article.category.id) %>
</p>

<%= link_to 'Show', article %>

<% if can? :update, article %>
  <%= link_to 'Edit', edit_article_path(article) %>
<% end %>

<% if can? :destroy, article %>
  <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
