<div class="row">
  <div class="col-sm-8">

    <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
    <%= submit_tag "Search" %>
    <% end %>

    <%= render(@articles) %>

    <p>
      <%= paginate @articles %>
    </p>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <h4>Categories:</h4>
    <% for category in Category.all %>
      <p><%= link_to category.name, category_articles_path(category_id: category.id) %></p>
    <% end %>
  </div>
</div>
