<h2><%= @article.title %></h2>

<p class="highlight_text">
  <%= @article.user.email %> | <%= @article.category.name %>
</p>

<% unless @article.pictures.empty? %>
<% @article.pictures.each do |pic| %>
<p><%= image_tag pic.image.url(:medium) %></p>
<% end %>
<% end %>

<p><%= @article.content %></p>

<% if can? :update, @article %>
<%= link_to "Edit", edit_article_path(@article),class: "button" %>
<% end %>
