<h3>
  <strong>Title:</strong>
  <%= @article.title %>
</h3>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>

<% if can? :update, @article %>
  <%= link_to "Edit", edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
