<h3>
  <strong>Title:</strong>
  <%= @article.title %>
</h3>

<% unless @article.pictures.empty? %>
  <% @article.pictures.each do |pic| %>
    <p><%= image_tag pic.image.url(:medium) %></p>
  <% end %>
<% end %>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<% if can? :update, @article %>
  <%= link_to "Edit", edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
