<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="parent">
    <div class="col left">
      <h1 class="home"><a href="/">Blog</a></h1>
      <div class="nav">
        <ul>
          <% for category in Category.all %>
          <li><%= link_to category.name, category_articles_path(category_id: category.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col content">
      <% if user_signed_in? %>
        <%= link_to new_article_path, :class => 'new-article-link' do %>
          <i class="fa fa-file-text-o fa-2x"></i>
        <% end %>
      <% end %>
      <div class="row">
        <% if notice %>
          <p class="highlight_text alert-success"><%= notice %></p>
        <% elsif alert %>
          <p class="highlight_text alert-danger"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <div class="col right">
      <div class="search-container">
        <div class="search">
          <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag(:search, params[:search], placeholder: "Search Articles", id: "search") %>
          <% end %>
        </div>
        <div class="user">
          <!-- dropdown container -->
          <div class="user-menu-wrap">
            <a href="#" class="mini-photo-wrapper"><i class="fa fa-user fa-2x"></i></a>
            <div class="menu-container">
              <ul class="user-menu">
                <% if user_signed_in? %>
                  <p class="user-info"><%= current_user.email %></p>
                  <li>
                    <%= link_to 'My Articles', user_articles_path(user_id: current_user.id), :class => 'user-menu-link' %>
                  </li>
                <% end %>

                <% if user_signed_in?&&(current_user.has_role? :admin) %>
                  <li>
                    <%= link_to 'User Dashboard', admin_users_path, :class => 'user-menu-link' %>
                  </li>
                  <li>
                    <%= link_to 'Category Dashboard', admin_categories_path, :class => 'user-menu-link' %>
                  </li>
                <% end %>

                <% if user_signed_in? %>
                  <!-- Logged in as <strong><%= current_user.email %></strong> -->
                  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'user-menu-link' %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'user-menu-link'  %></li>
                <% else %>
                  <li><%= link_to "Sign up", new_user_registration_path, :class => 'user-menu-link' %></li>
                  <li><%= link_to "Login", new_user_session_path, :class => 'user-menu-link' %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</body>

  <script type="text/javascript">
  document.querySelector('.mini-photo-wrapper').addEventListener('click', function() {
    document.querySelector('.menu-container').classList.toggle('active');
  });
  </script>
  </html>
