<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <div id="row">
      <div id="left">
        <h1 class="home"><a href="/">Blog</a><h1>
        <nav>
          <ul>
    			     <%= yield(:side_bar) %>
          </ul>
    		</nav>
      </div>

      <div id="content">

        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% elsif alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>

      <div id="right">
        <%= yield(:search) %>
        <!-- dropdown container -->
        <div class="user-menu-wrap">
          <a href="#" class="mini-photo-wrapper"><i class="fa fa-user fa-2x"></i>
            <% if user_signed_in? %>
              <%= current_user.email %>
            <% end %>
        <div class="menu-container">
          <ul class="user-menu">
            <% if user_signed_in? %>
              <li>
                <%= link_to 'My Articles', user_articles_path(user_id: current_user.id), :class => 'user-menu-link' %>
              </li>
              <li>
                <%= link_to 'New Article', new_article_path, :class => 'user-menu-link' %>
              </li>
            <% end %>

            <% if user_signed_in?&&(current_user.has_role? :admin) %>
              <li>
                <%= link_to 'User Dashboard', admin_users_path, :class => 'user-menu-link' %>
              </li>
              <li>
                <%= link_to 'Category Dashboard', admin_categories_path, :class => 'user-menu-link' %>
              </li>
            <% end %>

            <% if user_signed_in? %>
              <!-- Logged in as <strong><%= current_user.email %></strong> -->
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'user-menu-link' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'user-menu-link'  %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, :class => 'user-menu-link' %></li>
              <li><%= link_to "Login", new_user_session_path, :class => 'user-menu-link' %></li>
            <% end %>
          </ul>
        </div>
      </div>
      </div>

    </div>

  </div>
</body>

  <script type="text/javascript">
  document.querySelector('.mini-photo-wrapper').addEventListener('click', function() {
    document.querySelector('.menu-container').classList.toggle('active');
  });
  </script>
  </html>
